<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773443264958-ka1lhjae7869lm9jh06j7pekbceg8jr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773443264958-ka1lhjae7869lm9jh06j7pekbceg8jr7</string>
	<key>API_KEY</key>
	<string>AIzaSyBQbGVoQxMsAF1YQsFd7ina1oORiscfLBY</string>
	<key>GCM_SENDER_ID</key>
	<string>773443264958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worksOut.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>worksout-e9896</string>
	<key>STORAGE_BUCKET</key>
	<string>worksout-e9896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773443264958:ios:ab0afbc7c4ef85c7d459ef</string>
</dict>
</plist>